h1 {
    color: rebeccapurple;
    font-family:cursive;
}
main {
    text-align: center;

}
body {
    background-image:url(./images/clouds.jpg);
    background-size: cover;
}
.links {
    text-align: center;
}
#quote {
    opacity: .5;
}